<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RailsCamp Hamburg 2011</title>
  <meta name="description" content="RailsCamp Hamburg 2011">
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-1.2.0.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
  <link href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="https://www.amiando.com/resources/js/ticketshop-popup.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
</head>

<body>
  <div class="container">
    <header>
      <nav>
        <ul class="pills">
          <% Text.order_by(:position).all.each do |text| -%>
            <li><a href="#<%= text.slug %>"><%= text.title %></a></li>
          <% end -%>
        </ul>
      </nav>
      <h1>RailsCamp Hamburg 2011</h1>
    </header>
    <div id="page">
        <div class="row">
          <div class="span11">
            <article>
              <h2>The Gist</h2>
              <p>
                <strong>
                  Railscamp Hamburg, October 29 - 30, 2011, at
                  <a href="http://www.werkheim-hamburg.de/" target="_blank">WERKHEIM Hamburg, Germany</a>.
                </strong>
              </p>
              <% Text.order_by(:position).all.each do |text| -%>
                <h3 id="<%= text.slug %>"><%= text.title %></h3>
                <%= text.to_html %>
              <% end -%>
            </article>
          </div>
          <div class="span5" style="width: 320px;">
                <ul id="logos">
                </ul>
                <p class="twt-title">Find us on Twitter</p>
                <script src="http://widgets.twimg.com/j/2/widget.js"></script>
                <script>
                new TWTR.Widget({
                  version: 2,
                  type: 'profile',
                  rpp: 5,
                  interval: 30000,
                  width: 'auto',
                  height: 400,
                  theme: {
                    shell: {
                      background: '#65666A',
                      color: '#EEE'
                    },
                    tweets: {
                      background: '#65666A',
                      color: '#EEE',
                      links: '#adbde3'
                    }
                  },
                  features: {
                    scrollbar: false,
                    loop: false,
                    live: false,
                    hashtags: true,
                    timestamp: true,
                    avatars: false,
                    behavior: 'all'
                  }
                }).render().setUser('railscamp_hh').start();
                </script>
          </div>
          </div>
        <footer>
          <p><small>&copy; Copyright RailsCamp Hamburg Team 2011. All Rights Reserved.</small></p>
        </footer>
      </div>
    </div>    
  </body>
</html>
